@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

.background {
    background-color: hsl(47, 88%, 63%);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}

.main-card {
    display: grid;
    grid-template-areas: "image-stuff" "written-stuff";
    border: 2px solid black;
    height: 60%;
    width: 25%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 24px;
    padding: 1em;
    box-shadow: 5px 5px hsl(0, 0%, 7%);
    font-family: Figtree;
}

@media (max-width: 480px) {
    .main-card { width: 80vw; }
}

@media (min-width: 481px) {
    .main-card { width: 40%; }
}

@media (min-width: 769px) {
    .main-card { width: 30%;}
}

@media (min-width: 1024px) {
    .main-card { width: 30%;}
}

.main-card:hover{
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    .header{
        color: hsl(47, 88%, 63%);
    }
}

.image{
    grid-area: image-stuff;
    margin: 0;
    padding: 0;
}

.image-style {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

@media (min-height:769px){
    .image-style{
        border-radius: 24px;
    }
}

.desc-container {
    display: grid;
    grid-template-areas: "tags" "dates" "." "title" "." "description" "author";
}

.tag button {
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    font-size: 90%;
    border-color: hsl(47, 88%, 63%);
    padding: 0.2em 1em;
}

.publish {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0.9em 0 0 0;
}

.header {
    font-weight: 800;
    font-size: 1.2em;
}

.desc {
    color: hsl(0, 0%, 50%);
    font-weight: 500;
    font-size: 80%;
}

.writer {
    font-weight: 800;
    font-size: 1em;
}
